@import '../../config/config.scss';

.tournament-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-family: $default-font-family;
  background-color: #1a1a1a;
  border: 2px solid #444;
  border-bottom: 4px solid #2b2b2b;
  border-right: 4px solid #2b2b2b;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);

  .action-group {
    display: flex;
    gap: 10px;
    margin: 0 auto;
  }

  //tous les boutons
  .back-btn, .restart-btn, .undo-btn, .export-btn {
    padding: 12px 15px;
    margin: 0 4px;
    background-color: $bg-btn;
    font-size: 1.3rem;
    letter-spacing: 1px;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 6px 0 #000;
      background-color: $btn-hover-color;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0 2px 0 #000;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      box-shadow: 0 2px 0 #000;
    }
  }

  // bouton à gauche
  .back-btn {
    position: absolute;
    left: 4px;
    margin-left: 8px;
  }

  //bouton à droite
  .restart-btn {
    position: absolute;
    right: 4px;
    margin-right: 8px;
  }
}
