@import '../../config/config';

.tournament-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
  background-color: $bg-2;
  border: 2px solid #333;
  padding: 16px;
  border-radius: $default-border-radius;
  box-shadow: 0 4px 0 #000, inset 0 1px 0 rgba(255, 255, 255, 0.1);

  .participant-count-number {
    font-size: 1.4rem;
    color: $draw-color;
  }

  .clear-participants-btn, .shuffle-btn {
    min-width: 50px;
    min-height: 50px;
  }

  .increment-btn, .decrement-btn {
    font-family: Arial, serif;
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
  }
}

.participant-counter {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #222;
  padding: 8px 10px;
  border: 2px solid #444;
  border-radius: $default-border-radius;
}

.participant-count {
  min-width: 120px;
  text-align: center;
  color: $default-text-color;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0 8px;
}

//.participant-count, .participant-count-number {
//  font-family: $default-font-family;
//  border-radius: $default-border-radius;
//}
