@import '../config/config.scss';


.stats-blocks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.stats-block {
  font-family: $default-font-family;
  flex: 1;
  background-color: $default-background-color;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
}

.stats-block h3 {
  font-size: 1.25rem;
  color: $default-text-color;
}

.stats-value {
  font-size: 1.5rem;
  color: #43b2d0;
}

/* Adaptation pour les écrans mobiles */
@media (max-width: 768px) {
  .stats-blocks-container {
    flex-direction: column;
  }

  .stats-block {
    width: 100%;
  }
}
