@import '../config/config.scss';

.rename-button, .delete-button {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: $default-font-family;
  color: $default-text-color;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.participant-name2 {
  font-family: $default-font-family;
  color: $default-text-color;

}

.rename-input {
  max-width: 50%;
  font-family: $default-font-family;
  color: $default-text-color;

  border-radius: 10px;
}
