$default-text-color: #e5e5e5;
$default-font-family: "VT323", sans-serif;
$secondary-text-color: #999999;

$bg-1: #1f1f1f;
$bg-2: #181818;
$bg-btn:#3a3a3a;

$default-border-radius: 2px;

$win-color: #60c24b;
$lose-color: #e75b5b;
$draw-color: #ffd700;

