$default-text-color: #e5e5e5;
$default-font-family: "Merriweather Sans", sans-serif;

//$secondary-text-color: red;
$secondary-text-color: #999999;

//$default-background-color: blue;
$default-background-color: #1f1f1f;
