@import '../config/config';

.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #2a2a2a;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
  padding-left: 1.25rem;
  text-transform: uppercase;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.import-button {
  gap: 0.3rem;
  font-weight: 600;
  padding: 8px 12px;
  font-size: 1rem;
  //&:hover {
  //  transform: translateY(-1px);
  //}
}

.import-icon {
  transform: translateY(1px);
  transition: all 0.2s ease;
}

.import-button:hover .import-icon {
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.reset-history-btn {
  padding: 8px 12px;

  &:hover {
    background-color: #d32222;
    transform: translateY(-2px);
  }
}


