@import '../config/config';

.active-tournament {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.tournament-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

.tournament-controls-main {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 24px;
}

.clear-participants-btn, .shuffle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.start-tournament-container {
  margin-top: 16px;
}
