@import '../../config/config';

$saved-color: #d0a91b;

.history-list {
  list-style-type: none;
  padding: 0;
}

.empty-history {
  text-align: center;
  padding: 20px;
  color: $secondary-text-color;
  font-family: $default-font-family;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: $bg-2;
  border: 3px solid #333;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 4px 0 #000;
}

.history-item-content {
  display: flex;
  flex-direction: column;
  font-family: $default-font-family;
}

.history-item-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.history-item-title {
  font-size: 1.35rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.history-item-participants {
  font-size: 1.1rem;
  font-weight: 500;
  color: $secondary-text-color;
  font-family: $default-font-family;
  margin-top: 5px;
}

.history-item-winner {
  font-size: 1.1rem;
  font-weight: 500;
  color: $win-color;
  margin-top: 5px;
}

.saved-history-item {
  border-left: 4px solid $saved-color;
  background-color: $bg-1;
}

.history-item-actions {
  display: flex;
  gap: 18px;
}

.title-load-button {
  padding: 0 6px;
  margin-left: 5px;
  box-shadow: 0 3px 0 #000;
}

.saved-history-item .favorite-button {
  background-color: $saved-color;

  &:before {
    border-color: $saved-color;
    border-right-color: #332;
    border-bottom-color: #332;
  }
}

.load-button {
  background-color: #358125;
  background-color: #53ab4d;

  &:hover {
    background-color: #48ab35;
    background-color: #46923f;
  }
}
